version: '3.8'

services:
  merdas_db:
    image: postgres:17.4
    container_name: postgresql
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: edc@1234
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7.4
    container_name: redis
    restart: always
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    command: redis-server --save 60 1 --loglevel warning

  merdas_web:
    build: .
    container_name: merdas
    restart: always
    depends_on:
      - merdas_db
      - redis
    env_file:
      - back-env
    ports:
      - "8005:8005"
    volumes:
      - .:/app
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8005"

volumes:
  pg_data:
  redis_data:

